[phases.setup]
nixPkgs = ["php84", "php84Extensions.gd", "php84Extensions.pdo", "php84Extensions.pdo_sqlite", "php84Extensions.sqlite3", "composer", "nodejs_22"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader --no-interaction"]

[phases.build]
cmds = [
    "npm ci",
    "npm run build"
]

[start]
cmd = "touch database/database.sqlite && php artisan migrate --force && php artisan db:seed --force && php artisan serve --host=0.0.0.0 --port=$PORT"